@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
    will-change: transform;
  }


